body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#resized-label {
  font-size: 15px;
}

/* .my-masonry-grid {
  display: flex;
  margin-left: -20px;
  width: 100%;
}

.my-masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
} */
